@import "./fonts.scss";
@import "./base.scss";
@import "./mixins.scss";

// ---------Оболочка-----------
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: rem(1710);
  margin: 0 auto;
  padding: 0 rem(15) 0 rem(15);
}
// ---------Оболочка-----------

// ---------MAIN-----------
.main {
  flex: 1 1 auto;
}
// ---------MAIN-----------

// ---------стандартные flex стили-----------
.d-fl {
  display: flex;
}

.d-fl-col {
  display: flex;
  flex-direction: column;
}

.d-fl-row {
  display: flex;
  flex-direction: row;
}

.d-fl-wrap {
  display: flex;
  flex-wrap: wrap;
}
// ---------стандартные flex стили-----------

// ---------BEM-----------

.section-wrap {
  display: flex;
  flex-wrap: wrap;
}

.section-wrap--reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.section__block {
  flex: 1 1 rem(300.5);
}

// ---------button in Catalog-----------
.catalog__btn {
  background: #55d56d;
  border-radius: rem(15);
  color: #ffffff;
  font-weight: 700;
  -webkit-border-radius: rem(15);
  -moz-border-radius: rem(15);
  -ms-border-radius: rem(15);
  -o-border-radius: rem(15);
}

// ---------margin top for section-----------
.section-mr--top {
  margin-top: rem(100);
}

// ---------title for section-----------
.title__section {
  font-weight: 500;
  font-size: rem(40);
  line-height: rem(49);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;

  span {
    font-weight: 700;
  }
}

// ---------icon favorite-----------
.favorite,
.plus,
.button-delete {
  width: rem(45);
  height: rem(45);
  cursor: pointer;

  svg,
  img {
    width: 100%;
    height: 100%;
  }
}
